<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm-X96syahJyK4vj8kxGizo6Aou4KaCGE</string>
	<key>GCM_SENDER_ID</key>
	<string>615056898780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conferenceHallBooking</string>
	<key>PROJECT_ID</key>
	<string>booking-app-79313</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-app-79313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615056898780:ios:a09262df32ed218b8ad219</string>
</dict>
</plist>